/*================================================
Default CSS
=================================================*/
$main-color: #f2132b;
$white-color: #ffffff;
$black-color: #000000;

// Switch css
.switch-box {
    position: fixed;
    z-index: 1;
    right: 95px;
    bottom: 45px;

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $main-color;
        transition: 0.4s;

        &:before {
            position: absolute;
            content: "";
            height: 30px;
            width: 30px;
            left: 2.5px;
            bottom: 4px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transition: 0.4s;
            box-shadow: 0 0px 15px #2020203d;
            background: white url('https://i.ibb.co/FxzBYR9/night.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    input:checked + .slider {
        background-color: $main-color;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px $main-color;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
        background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .slider {
        &.round {
            border-radius: 50px;

            &:before {
                border-radius: 50%;
            } 
        }
    }
}

// Dark & Light CSS
.theme-light {
    .black-logo {
        display: block;
    }
    .white-logo {
        display: none;
    }
}
.theme-dark {
    .black-logo {
        display: none;
    }
    .white-logo {
        display: block;
    }
    body {
        background-color: $black-color;
        color: #f1f1f1;
    }
    p {
        color: #f1f1f1;
        
        a {
            color: #f1f1f1 !important;

            &:hover {
                color: $main-color !important;
            }
        }
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: $white-color !important;

        a {
            color: $white-color !important;

            &:hover {
                color: $main-color !important;
            }
        }
    }
    .main-navbar {
        .navbar {
            .navbar-nav {
                .nav-item {
                    a {
                        color: $white-color;
                        
                        &:hover, &:focus, &.active {
                            color: $main-color;
                        }
                    }
                    &:hover, &.active {
                        a {
                            color: $main-color;
                        }
                    }
                    .dropdown-menu {
                        li {
                            a {
                                color: $black-color;
                                
                                &:hover, &:focus, &.active {
                                    color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
            .others-options {
                .option-item {
                    .search-box {
                        .form-control {
                            border-bottom: 1px solid $white-color;
                            color: $white-color;

                            &::placeholder {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-area {
        &.is-sticky {
            background-color: #0e0e0e !important;
        }
    }

    .main-banner-item {
        background-color: #0e0e0e;
    }

    .top-services-item {
        border: 1px solid #0e0e0e;
        
        .link-btn {
            color: $white-color;
        }
        &:hover {
            .link-btn {
                letter-spacing: 1px;
                color: $main-color;
            }
        }
    }

    .banking-content {
        .banking-list {
            li {
                color: $white-color;
            }
        }
    }

    .fun-facts-inner {
        background-color: #0e0e0e;
    }

    .single-fun-fact {
        h3 {
            &::before {
                opacity: 10%;
            }
        }
    }

    .services-area {
        &::before {
            opacity: 10%;
        }
    }

    .single-services-item {
        border: 1px solid #0e0e0e;
        background-color: #0e0e0e;

        .learn-btn {
            color: $white-color;
        }
        h3 {
            a {
                color: $white-color !important;

                &:hover {
                    color: $black-color !important;
                }
            }
        }
        &:hover {
            border: 1px solid $main-color;
            background-color: $main-color;
    
            .learn-btn {
                letter-spacing: 1px;
                color: $white-color;
            }
        }
    }

    .customer-area {
        &::before {
            opacity: 10%;
        }
    }
    .customer-item {
        border: 1px solid #0e0e0e;
        background-color: #0e0e0e;
        
        .customer-info {
            span {
                color: $white-color;
            }
        }
        .icon {
            opacity: 10%;
        }
    }

    .single-blog-item {
        .post-content {
            .blog-btn {
                color: $white-color;
            }
        }
        &:hover {
            .post-content {
                .blog-btn {
                    color: $main-color;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .partner-area {
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: $black-color;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            opacity: .90;
        }
    }

    .main-banner-form {
        background-color: $black-color;
        box-shadow: unset;
    
        .content {
            h3 {
                border-bottom: 1px solid $black-color;
            }
        }
        .form-group {
            .form-control {
                border: 1px solid #0e0e0e;
                background-color: #0e0e0e;
                color: $white-color;
    
                &::placeholder {
                    color: $white-color;
                }
                &:focus {
                    box-shadow: none;
                    background-color: transparent;
                }
            }
            label {
                color: $white-color;
            }
        }
        .nice-select {
            border: 1px solid #0e0e0e;
            color: $white-color;
            background-color: #0e0e0e;
            
            .list {
                .option {
                    color: $black-color;
                }
            }
            &::after {
                border-color: $white-color;
            }
        }
    }

    .about-area {
        border-bottom: 1px solid #0e0e0e;
    }

    .goals-area {
        border-bottom: 1px solid #0e0e0e;
    }

    .team-area {
        border-bottom: 1px solid #0e0e0e;
    }
    .single-team-box {
        .team-content {
            background-color: #0e0e0e;

            span {
                color: $white-color;
            }
        }
    }

    .faq-accordion {
        .accordion {
            .accordion-title {
                color: $white-color;
                border: 1px solid $black-color;
                background-color: #0e0e0e;
            }
            .accordion-content {
                color: $white-color;
                border-left: 1px solid #0e0e0e;
                border-right: 1px solid #0e0e0e;
                border-bottom: 1px solid #0e0e0e;
                background-color: #0e0e0e;
            }
        }
    }

    .blog-area {
        &.bg-fafafa {
            background-color: #0e0e0e;
        }
    }

    .grow-area {
        border-bottom: 1px solid #0e0e0e;
    }

    .operate-content {
        .operate-list {
            li {
                color: $white-color;
            }
        }
    }

    .fun-facts-area {
        &.bg-color {
            .single-fun-fact {
                background-color: #0e0e0e;
            }
        }
    }

    .transactions-content {
        .transactions-list {
            li {
                color: $white-color;
            }
        }
    }

    .consultants-area {
        border-top: 1px solid #0e0e0e;
    }

    .footer-area {
        &.bg-ffffff {
            background-color: #0e0e0e;

            .single-footer-widget {
                .footer-logo {
                    h2 {
                        a {
                            color: $white-color;
                        }
                    }
                    p {
                        color: $white-color;
                    }
                    .social {
                        li {
                            a {
                                i {
                                    color: $white-color;
    
                                    &:hover {
                                        background-color: #4ed198;
                                        border: 1px solid #4ed198;
                                        color: $white-color;
                                    }
                                }
                            }
                        }
                    }
                }
                h3 {
                    color: $white-color;
                }
                .footer-contact-info {
                    li {
                        color: $white-color;
                        i {
                            color: #4ed198;
                        }
                        span {
                            color: $white-color;
                        }
                        a {
                            color: $white-color;
                            &:hover {
                                color: #4ed198;
                            }
                            &::before {
                                color: #4ed198;
                            }
                        }
                    }
                }
                .quick-links {
                    li {
                        a {
                            color: $white-color;
    
                            &:hover {
                                color: #4ed198;
                            }
                            &::before {
                                color: #4ed198;
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright-area {
        &.bg-ffffff {
            background-color: #0e0e0e;
            border-top: 1px solid $black-color;

            p {
                color: $white-color;
            }
        }
    }

    .main-slider-item {
        background-color: #0e0e0e;
    }

    .services-area.bg-transparent {
        border-top: 1px solid #0e0e0e;
    }

    .newsletter-form {
        .input-newsletter {
            background-color: $black-color;
            color: $white-color;

            &::placeholder {
                color: $white-color;
            }
        }
    }

    .overview-box-area {
        border-bottom: 1px solid #0e0e0e;
    }
    .overview-box-content {
        .overview-box-list {
            li {
                color: $white-color;
            }
        }
    }

    .payment-box-content {
        .payment-box-list {
            li {
                color: $white-color;
            }
        }
    }

    .about-content-warp {
        .about-warp-list {
            li {
                color: $white-color;
            }
        }
    }

    .fun-facts-area {
        &.bg-ffffff {
            .single-fun-fact {
                background-color: #0e0e0e;
            }
        }
    }

    .single-pricing-box {
        border: 1px solid #0e0e0e;
        
        &:hover {
            background-color: #0e0e0e;
            border-color: #0e0e0e;
        }
    }

    .open-account-form {
        background-color: #0e0e0e;
    
        form {
            .form-group {
                .form-control {
                    border: 1px solid $black-color;
                    background-color: $black-color !important;
                    color: $white-color;
        
                    &::placeholder {
                        color: $white-color;
                    }
                    &:focus {
                        box-shadow: none;
                        background-color: transparent;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
                label {
                    color: $white-color;
                }
            }
            .nice-select {
                border: 1px solid $black-color;
                color: $white-color;
                background-color: $black-color;
                
                .list {
                    .option {
                        color: $black-color;
                    }
                }
                &::after {
                    border-color: $white-color;
                }
            }
            h3 {
                color: $white-color;
            }
        }
    }

    .security-content {
        .security-list {
            li {
                color: $white-color;
            }
        }
    }

    .advice-area {
        background-color: #0e0e0e;
    }

    .location-maps-image {
        .location {
            a {
                .location-info {
                    background: #0e0e0e;
    
                    &::before {
                        background: #0e0e0e;
                    }
                }
            }
        }
    }

    .table {
        thead {
            th {
                background-color: #0e0e0e;
                color: $white-color;
                border: 1px solid #0e0e0e;
            }    
        }
    }
    .table-bordered {
        tbody {
            tr {
                th {
                    color: $white-color;
                    border: 1px solid #0e0e0e;
                }
                td {
                    border: 1px solid #0e0e0e;
                    color: $white-color;
                }
            }
        }
    }

    .sign-in-area {
        border-bottom: 1px solid #0e0e0e;
    }

    .sign-in-form {
        background-color: #0e0e0e;
        
        form {
            .form-group {
                label {
                    color: $white-color;
                }
                .form-control {
                    border: 1px solid $black-color;
                    background-color: $black-color !important;
                    color: $white-color;
        
                    &::placeholder {
                        color: $white-color;
                    }
                    &:focus {
                        box-shadow: none;
                        background-color: transparent;
                    }
                }
            }
            .lost-your-password {
                a {
                    color: $white-color;
                }
            }
            .form-check {
                color: $white-color;
            }
        }
    }

    .register-form {
        background-color: #0e0e0e;
        
        form {
            .form-group {
                label {
                    color: $white-color;
                }
                .form-control {
                    border: 1px solid $black-color;
                    background-color: $black-color !important;
                    color: $white-color;
        
                    &::placeholder {
                        color: $white-color;
                    }
                    &:focus {
                        box-shadow: none;
                        background-color: transparent;
                    }
                }
            }
            .nice-select {
                border: 1px solid $black-color;
                color: $white-color;
                background-color: $black-color;
                
                .list {
                    .option {
                        color: $black-color;
                    }
                }
                &::after {
                    border-color: $white-color;
                }
            }
        }
    }
    
    .single-projects {
        .projects-content {
            background-color: #0e0e0e;
        }
    }

    .pagination-area {
        .page-numbers {
            background-color: #0e0e0e;
            color: $white-color;
            box-shadow: unset;

            &.current, &:hover, &:focus {
                background: $main-color;
                color: $white-color;
            }
        }
    }

    .projects-details-content {
        .projects-details-info {
            .projects-info-box {
                span {
                    color: $white-color;
                }
            }
        }
    }

    .contact-form {
        background-color: #0e0e0e;
    
        .form-group {
            .form-control {
                background-color: $black-color;
                border: 1px solid $black-color;
                color: $white-color;
                
                &::placeholder {
                    color: $white-color;
                }
                &:focus {
                    outline: 0;
                    background-color: transparent;
                    box-shadow: none;
                }
            }
            label {
                color: $white-color;
            }
        }
        .form-check {
            color: $white-color;
    
            a {
                color: $main-color;
            }
        }
    }

    .privacy-content {
        ol, ul {
            li {
                color: $white-color;
            }
        }
    }

    .services-details-desc {
        .services-details-features {
            .features-list {
                li {
                    color: $white-color;
                }
            }
        }
        .services-details-faq {
            .accordion {
    
                .accordion-item {
                    background: #0e0e0e;
                }
                .accordion-title {
                    color: $white-color;

                    i {
                        color: $white-color;
                    }
                }
                .accordion-content {
                    border-top: 1px solid $black-color;
                    color: $white-color;
                }
            }
        }
    }
    .services-details-information {
        .services-list {
            background-color: #0e0e0e;
            box-shadow: unset;
    
            li {
                a {
                    border-bottom: 1px solid $black-color;
                    color: $white-color;
                }
            }
        }
        .download-file {
            background-color: #0e0e0e;
            box-shadow: unset;
            ul {
                li {
                    a {
                        border-bottom: 1px solid $black-color;
                        color: $white-color;

                        &:hover {
                            color: #fb7756;
                        }
                    }
                    &:first-child {
                        border-top: 1px solid $black-color;
                    }
                }
            }
        }
        .services-contact-info {
            background-color: #0e0e0e;
            box-shadow: unset;
            ul {
                li {
                    border-bottom: 1px solid $black-color;
                    color: $white-color;
                    
                    span {
                        color: $white-color;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .personal-loan-content {
        .personal-loan-list {
            li {
                color: $white-color;
            }
        }
    }

    .types-loan-area {
        background-color: #0e0e0e;
    }

    .loan-form {
        background-color: #0e0e0e;
    
        form {
            .form-group {
                .form-control {
                    border: 1px solid $black-color;
                    background-color: $black-color !important;
                    color: $white-color;
        
                    &::placeholder {
                        color: $white-color;
                    }
                    &:focus {
                        box-shadow: none;
                        background-color: transparent;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
                label {
                    color: $white-color;
                }
            }
            .nice-select {
                border: 1px solid $black-color;
                color: $white-color;
                background-color: $black-color;
                
                .list {
                    .option {
                        color: $black-color;
                    }
                }
                &::after {
                    border-color: $white-color;
                }
            }
            h3 {
                color: $white-color;
            }
        }
    }

    .blog-details-desc {
        .article-content {
            .entry-meta {
                ul {
                    li {
                        color: $white-color;
                        
                        a {
                            color: $white-color;
                
                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
            .features-list {
                li {
                    color: $white-color;
                }
            }
        }
        .article-footer {
            border-top: 1px solid #0e0e0e;
    
            .article-tags {
                color: $white-color;
    
                span {
                    color: $white-color;
                }
                a {
                    color: $white-color;
                }
            }
            .article-share {
                .social {
                    li {
                        span {
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
    blockquote, .blockquote {
        background-color: #0e0e0e;
    
        p {
            color: $white-color;
        }
    }
    .post-navigation {
        border-top: 1px solid #0e0e0e;
        border-bottom: 1px solid #0e0e0e;
    
        .navigation-links {
            .nav-previous {
                a {
                    color: $white-color;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
            .nav-next {
                a {
                    color: $white-color;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
    .comments-area {
        .comment-body {
            border-bottom: 1px dashed #0e0e0e;
    
            .reply {
                a {
                    border: 1px dashed #0e0e0e;
                    color: $white-color;

                    &:hover {
                        color: $white-color;
                        background-color: $main-color;
                        border-color: $main-color;
                    }
                }
            }
        }
        .comment-metadata {
            color: $white-color;

            a {
                color: $white-color;
    
                &:hover {
                    color: $main-color;
                }
            }
        }
        .comment-respond {
            label {
                color: $white-color;
            }
            input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
                background-color: #0e0e0e;
                border: 1px solid #0e0e0e;
                color: $white-color;
    
                &::placeholder {
                    color: $white-color;
                }
            }
            .comment-form-cookies-consent {
                label {
                    color: $white-color;
                }
            }
        }
    }

    .widget-area {
        .widget_search {
            background-color: #0e0e0e;
    
            form {
                .search-field {
                    border: 1px solid $black-color;
                    background-color: $black-color;
                    color: $white-color;
                    
                    &::placeholder {
                        color: $white-color;
                    }
                }
            }
        }
        .widget_categories {
            background-color: #0e0e0e;
    
            ul {
                li {
                    color: $white-color;
                    
                    a {
                        color: $white-color;
    
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .widget_leve_posts_thumb {
            background-color: #0e0e0e;
        }
        .widget_tag_cloud {
            background-color: #0e0e0e;
        }
        .tagcloud {
            a {
                background: $black-color;
                color: $white-color;
    
                &:hover, &:focus {
                    color: $white-color;
                    background-color: $main-color;
                }
            }
        }
        .widget_newsletter {
            background-color: #0e0e0e;
    
            .newsletter-form {
                .input-newsletter {
                    background-color: $black-color;
                    color: $white-color;

                    &::placeholder {
                        color: $white-color;
                    }
                }
            }
        }
    }

    .contact-info-box {
        background: #0e0e0e;
    }

    // Responsive CSS

    @media only screen and (max-width: 767px) {
        .navbar-area {
            background-color: $black-color;

            &.is-sticky {
                background-color: $black-color !important;
            }
        }
        .main-responsive-nav {
            .mean-container {
                a {
                    &.meanmenu-reveal {
                        color: $white-color !important;
                        span {
                            background: $white-color !important;
                        }
                    }
                }
            }
        }
        .others-option-for-responsive {
            .dot-menu {
                .inner {
                    .circle {
                        background-color: $white-color;

                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-area {
            background-color: $black-color;

            &.is-sticky {
                background-color: $black-color !important;
            }
        }
        .main-responsive-nav {
            .mean-container {
                a {
                    &.meanmenu-reveal {
                        color: $white-color !important;
                        span {
                            background: $white-color !important;
                        }
                    }
                }
            }
        }
        .others-option-for-responsive {
            .dot-menu {
                .inner {
                    .circle {
                        background-color: $white-color;

                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }
            }
        }
    }
        
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .navbar-area {
            background-color: $black-color;

            &.is-sticky {
                background-color: $black-color !important;
            }
        }
        .main-responsive-nav {
            .mean-container {
                a {
                    &.meanmenu-reveal {
                        color: $white-color !important;
                        span {
                            background: $white-color !important;
                        }
                    }
                }
            }
        }
        .others-option-for-responsive {
            .dot-menu {
                .inner {
                    .circle {
                        background-color: $white-color;

                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }
            }
        }
    }
}